<%-include ("../partials/header")  -%>
<div class="row mt-4">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mt-2">登入</h1>
            <%-include ("../partials/messages")  -%>
            <hr>
            <p class="lead ">
                有臉書帳號嗎？
            </p>
            <a href="/auth/facebook" id="fb-btn" class="btn btn-lg btn-primary mb-4">
                <span id="fb-login"><i class="fa fa-facebook"></i> &nbsp;使用Facebook登入</span>
                <img id="fb-loading" style="display:none" src="../public/images/Spinner-1s-200px.svg" height="30px" width="30px">
            </a>

            <p class="lead ">
                使用帳號密碼登入
            </p>
            <div class="card card-body">
                <form id="form" action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">電子信箱</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="請輸入電子信箱" value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password">密碼</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" />
                    </div>
                    <p class="warning-flash" id="flash"></p>
                    <button id="btn" type="submit" disabled="disabled" class="btn btn-primary btn-block mt-4">
                        <span id="login"> 登入</span>
                        <img id="loading" style="display:none" src="../public/images/Spinner-1s-200px.svg" height="30px" width="30px">

                    </button>
                    <br>
                    <a href="/users/recover">忘記密碼？</a>
                    <h6 class="text-right"><small><a href="/privacy" target="_blank">查看隱私權條款</a></small>
                    </h6>

                </form>
            </div>


            <hr>



            <p class="lead mt-4">
                沒有帳號嗎？ <a href="/users/register">註冊</a>
            </p>
        </div>
    </div>
</div>


<script>
    const btn = document.getElementById("btn");
    const loading = document.getElementById("loading");
    const login = document.getElementById("login");
    const flash = document.getElementById("flash");

    const fbBtn = document.getElementById("fb-btn");
    const fbLoading = document.getElementById("fb-loading");
    const fbLogin = document.getElementById("fb-login");

    const form = document.getElementById('form');
    const email = document.getElementById('email');
    const password = document.getElementById('password');


    btn.addEventListener('click', () => {
        loginBtnLoading(btn, loading, login);
    });

    fbBtn.addEventListener('click', () => {
        loginBtnLoading(fbBtn, fbLoading, fbLogin);
    });

    function loginBtnLoading(btnElement, loadingElement, loginElement) {
        btnElement.classList.add("disabled");
        loadingElement.style.display = "inline-block";
        loginElement.textContent = "登入中，請稍後...";
    }

    form.addEventListener('focusout', () => {
        let emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        if (!email.value) {
            flash.innerText = "信箱欄不可為空";
            btn.setAttribute('disabled', 'disabled')
        } else if (!email.value.match(emailRule)){
            flash.innerText = "請填入符合規格的信箱";
            btn.setAttribute('disabled', 'disabled')
        } else if (!password.value) {
            flash.innerText = "密碼欄不可為空";
            btn.setAttribute('disabled', 'disabled')
        } else {
            flash.innerText = "";
            btn.removeAttribute('disabled')
        }
    });
</script>


<%-include ("../partials/footer") -%>
