<!-- maxbox setting -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->
<link rel="stylesheet" href="/stylesheets/map.css">

<div id="map" style="margin-top:40px; width:100%; height: 80%;border-radius:10px; ">
    <form action="/stores" method="GET" class="form-inline " style="position: relative; z-index:1000; margin:15px; width:30%">
        <div class="input-group">
            <input id="searchBar" type="text" name="search" placeholder="勝王/台北/雞白湯..." class="form-control ">
            <input style="margin-left: 0.2em;" type="submit" value="搜尋" class="btn  btn-light ">
        </div>

    </form>
</div>
<div>
    <span id="currentSeen">0</span>
</div>

</div>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
<!-- mapbox setting -->
<script>
    /* beautify preserve:start */
   function getCoordinates() {
        return new Promise(function(resolve, reject) {
            navigator.geolocation.getCurrentPosition(resolve, reject);
        });
    }
    //預設台北車站位置
    let [defaultLon, defaultLat] = [121.5178, 25.046];
    async function userLocation(){
        if ("geolocation" in navigator) {
        /* geolocation is available */
            let position = await getCoordinates();
            console.log(position.coords.latitude, position.coords.longitude)
            return [position.coords.longitude, position.coords.latitude ];
        } else {
        /* geolocation IS NOT available */
        return [defaultLon, defaultLat]
        }
    }
    userLocation().then((position)=>{
        map.flyTo({
            center: position,
            essential: true // this animation is considered essential with respect to prefers-reduced-motion
        });
        //getBoundandStoreinSession();
    }).catch(error=>{
        console.log(error)
    })



    mapboxgl.accessToken = '<%= mapboxAccessToken %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        zoom: 16,
        //longitude 經度, latitude緯度 
        center: [defaultLon, defaultLat]
    });
    map.addControl(new MapboxLanguage({
        defaultLanguage: 'zh'
    }))
     map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
                trackUserLocation: true
        })
    );
    let mapWidth = document.getElementById("map").clientWidth;
    window.addEventListener("resize", () => {
        mapWidth = document.getElementById("map").clientWidth;
    });
    let currentSeen = document.getElementById('currentSeen');

    function getBoundandStoreinSession() {
        let zoom = map.getZoom();
        let center = map.getCenter();
        let bound = geoViewport.bounds([center.lng, center.lat], Math.ceil(zoom), [mapWidth, 400]);
        fetch(
                `http://localhost:3000/api/get-store?W=${bound[0]}&S=${bound[1]}&E=${bound[2]}&N=${bound[3]}`, {
                    method: 'GET'
                })
            .then((response) => {
                // 這裡會得到一個 ReadableStream 的物件
                //console.log(response);
                // 可以透過 blob(), json(), text() 轉成可用的資訊
                return response.json();
            }).then((jsonData) => {
                //console.log(jsonData.foundStore); //array
                //全部存到sessionStorage，之後除了都用的到。
                for (store of jsonData.foundStore) {
                    if (!stores[store._id]) {
                        stores[store._id] = store;
                        sessionStorage.setItem(store._id, JSON.stringify(store));
                        setMarker(store);
                    }

                }
                console.log(Object.keys(stores).length)
                currentSeen.innerText = sessionStorage.length;
            }).catch((err) => {
                console.log('錯誤:', err);
            });
    }
    /* getBoundandStoreinSession(); */

    function setMarker(store) {
        var el = document.createElement('div');
        el.className = 'marker';
        el.id = store._id;
        let ratingHTML = null;
        if (store.rating === 0) {
            ratingHTML =
            `<div class="star-rating">

                <div class="back-stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>`
        } else {
            ratingHTML =
            `<div class="star-rating">

                <div class="back-stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                    <div class="front-stars" style="width: ${store.rating * 20} %">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>`
        }


        let popup = new mapboxgl.Popup({ offset: 20, anchor: 'bottom' })
            .setMaxWidth(400)
            .setHTML(
                `<div class="card" style="height: 350px;">
                    <img id="card-image" class="card-img-top" src="${store.imageSmall[0]} %>" alt="Card image cap" height="120px" onError="this.onerror=null;this.src='https://i.imgur.com/siJp2jE.png';">
                    <a href="/stores?search= ${store.city}  ">
                        <div class="topleft btn city">
                            ${store.city}
                        </div>
                    </a>
                    <div class="topright">
                        ${ratingHTML}
                    </div>
                    <h5 class="card-header text-center">${store.name}</h5>
                    <div class="card-body scrollbar-light-blue">
                        <p>${store.descriptionText.substring(0, 200)}...</p>  
                    </div>
                    <div class="card-footer text-muted text-right">
                        <a href="/stores/${store._id}" class="btn btn-primary btn-sm">更多資訊</a>
                    </div>
                </div> `
            );
/* beautify preserve:end */
        new mapboxgl.Marker(el)
            .setLngLat([store.location.coordinates[0], store.location.coordinates[1]])
            .setPopup(popup)
            .addTo(map);
    }
    //重新進入頁面，如果sessionStorage裡面有東西就render他
    if (sessionStorage && sessionStorage.length > 0) {
        Object.keys(sessionStorage).forEach(function(key) {
            let store = JSON.parse(sessionStorage.getItem(key));
            setMarker(store);
        });

    }
    map.on('load', function() {
        getBoundandStoreinSession()
    });
    map.on('dragend', function() {
        getBoundandStoreinSession()
    });
    var stores = {};
    map.on('zoomend', async function() {
        getBoundandStoreinSession()
    });
</script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const searchBar = document.getElementById('searchBar');
    const searchQuery = urlParams.get('search');
    if (searchQuery) {
        searchBar.value = searchQuery;
    }
</script>


<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->