<%-include ("../partials/header")  -%>

<h1 style="text-align: center">增加新店</h1>
<div style="width: 35%; margin: 30px auto;">
    <form action="/stores" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type="text" id="uploadName" name="store[name]" placeholder="name" required>
        </div>
        <div class="form-group">
            <label for="uploadImage" class="btn btn-sm btn-secondary">
                Image
                <input style="display: none;" type="file" id="uploadImage" name="image" accept="image/*">
            </label>
            <span style="word-break: break-all;" id="fileDescription"> 上傳圖片(不能超過6MB) </span>
            <i style="display: none; color: steelblue; cursor: pointer" class="fas fa-trash-alt" id="deleteIcon"></i>
        </div>

        <div class="form-group">
            <label for="address">地址：</label>
            <input class="form-control" id="address" name="store[address]" placeholder="地址" required>
        </div>

        <div class="form-group">
            <label for="Description">介紹： </label>
            <textarea class="form-control" id="description" name="store[descriptionText]" cols="30" rows="5">Description</textarea>
            <!--<input class="form-control" type="text" id="uploadDescription" name="store[description]" placeholder="description" required>-->
        </div>
        <div class="form-group">
            <button id="submitBtn" disabled="disabled" class="btn btn-lg btn-secondary btn-block">Submit!</button>
        </div>
    </form>
    <a href="/stores">Go Back to Stores!</a>
</div>

<script type="text/javascript" src="../../geoconverter.js"></script>
<script type="text/javascript">
    const image = document.getElementById("uploadImage");
    const name = document.getElementById("uploadName");
    const address = document.getElementById("address");
    const description = document.getElementById("description");
    const fileDescription = document.getElementById("fileDescription");
    const deleteIcon = document.getElementById("deleteIcon");
    //file should not exceed 6 MB
    let isImage = false;


    image.onchange = function() {
        if (this.files[0].size > 6291456) {
            alert("檔案太大！上傳圖片不能超過6MB");
            this.value = "";
            fileDescription.innerText = "上傳圖片不能超過6MB";
            submitBtn.setAttribute('disabled', 'disabled')

        } else if (this.value != "") {
            fileDescription.innerText = this.files[0].name;
            console.log(this.files[0].name);
            deleteIcon.style.display = 'inline';
        }
    };
    deleteIcon.onclick = function() {
        image.value = "";
        fileDescription.innerText = "上傳圖片不能超過6MB";
        deleteIcon.style.display = 'none';
    }

    window.addEventListener('mousemove', function() {

        if (name.value && description.value && image.value) {
            submitBtn.removeAttribute('disabled')
        } else {
            submitBtn.setAttribute('disabled', 'disabled')
        }
    });
    window.addEventListener('keyup', function() {
        if (name.value && description.value && image.value) {
            submitBtn.removeAttribute('disabled')
        } else {
            submitBtn.setAttribute('disabled', 'disabled')
        }


    })
</script>

<%-include ("../partials/footer")  -%>