<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="public/stylesheets/main.css">
    <link rel="stylesheet" href="public/stylesheets/user.css">

</head>

<body>
    <div id="app">
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
            <!-- collape resposive button -->
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="#">Features</a></li>

                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li> -->

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- will pack in res.query -->
                        <form action="/campgrounds" method="GET" class="form-inline ">
                            <div class="form-group">
                                <input type="text" name="search" placeholder="Campground search..." class="form-control form-control-sm">
                                <input style="margin-left: 0.1em;" type="submit" value="Search" class="btn nav-link">
                            </div>

                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-2">

            <div style="width:60%; margin:40px auto">
                <form action="/users/<%= user._id %>/?_method=PUT " method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="avatar-wrapper">
                                    <img id="imageShow" class="profile-pic" src="https://dr18.com.tw/wp-content/uploads/2018/07/portrait-square-03-300x300.jpg" alt="">
                                    <div class="upload-button">
                                        <!-- <i class="fa fa-arrow-circle-up" aria-hidden=" true"></i> -->
                                        <img id="uploadIcon" class="arror-up" aria-hidden=" true" src="../../public/images/cloud-backup-up-arrow.svg" alt="">
                                        <input style="display: none;" type="file" id="uploadImage" name="image" accept="image/*">
                                    </div>

                                </label>
                                <p class="lead" id="userNameShow"> <%= user.username   %></p>
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">Info 1</a>
                                    <a href="#" class="list-group-item list-group-item-action">Info 2</a>
                                    <a href="#" class="list-group-item list-group-item-action">Info 3</a>
                                    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Info 4</a>
                                </div>
                                <i style="display: none; color: steelblue; cursor: pointer" class="fas fa-trash-alt" id="deleteIcon"></i>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <h3 class="mb-3" style="text-align: center;"><i class="fas fa-user-edit"></i> Edit <%= user.username   %>'s user profile </h1>
                                <div class="form-group">
                                    <p>Username:</p>
                                    <input class="form-control" type="text" name="user[name]" value=<%= user.username  %>>
                                </div>
                                <div class="form-group">
                                    <p>First Name:</p>
                                    <input class="form-control" type="text" name="user[firstName]" value=<%= user.firstName  %>>
                                </div>
                                <div class="form-group">
                                    <p>First Name:</p>
                                    <input class="form-control" type="text" name="user[lastName]" value=<%= user.lastName  %>>
                                </div>

                                <div class="form-group">
                                    <button class="class= btn btn-lg btn-primary btn-block">Submit!</button>
                                </div>
                        </div>
                    </div>
                </form>

                <a href="/users">Go Back to user profile!</a>
            </div>
            <script>
                const uploadImage = document.getElementById("uploadImage");
                const uploadIcon = document.getElementById("uploadIcon");
                const imageShow = document.getElementById("imageShow");
                const deleteIcon = document.getElementById("deleteIcon");
                uploadImage.onchange = function() {
                    if (this.files[0].size > 1048576) {
                        alert("File is too big! Must be less than 1MB!");
                        this.value = "";
                        fileDescription.innerText = "Upload Image less than 6MB.";
                        submitBtn.setAttribute('disabled', 'disabled');
                    } else {
                        readURL(this);
                        console.log(this.files[0].name);
                    }
                };
                deleteIcon.onclick = function() {
                    uploadImage.value = "";
                    fileDescription.innerText = "Upload Image less than 6MB.";
                    deleteIcon.style.display = 'none'
                }

                function readURL(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();
                        reader.onload = function(e) {

                            imageShow.setAttribute("src", e.target.result)
                            //$('#blah').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                    }
                }
            </script>


            <%-include ("../partials/footer")  -%>
        </div>

    </div> <!-- <div id="app">  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>