<style>
    .login-block {
        background: #ebf0f4;
        padding: 67px 0 76px
    }

    .login-block h1 {
        font: 38px/40px "Montserrat", Arial, Helvetica, sans-serif;
        margin: 0 0 64px;
        text-transform: uppercase;
        text-align: center
    }

    .login-block .login-container {
        max-width: 800px;
        padding: 0 15px;
        margin: 0 auto
    }

    .login-block .login-form {
        background: #fff;
        box-shadow: 0 1px rgba(0, 0, 0, .08);
        border-radius: 3px;
        padding: 36px 70px 40px;
        margin: 0 0 36px
    }

    .login-block .label-holder {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 12px
    }

    .login-block .form-control {
        height: 55px;
        font-size: 24px;
        line-height: 26px
    }

    .login-block .input-group {
        margin: 0 0 36px
    }

    .login-block .btn {
        margin: 4px 0 0;
        font-size: 22px
    }

    .login-block .log-bottom {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #999
    }

    .login-block .log-bottom a {
        color: #0071b9;
        text-decoration: underline
    }

    .login-block .log-bottom a:hover {
        text-decoration: none
    }

    .login-block .log-bottom .forgot {
        display: inline-block;
        margin: 0 0 10px
    }

    .login-block .log-bottom .new {
        display: block
    }
</style>
<section class='login-block'>
    <div class='login-container'>
        <div class='Email_verification'>
            <h1>Email Verification</h1>
        </div>
        <div class='Rectangle'>
            <div class='Group-4'>
                <img alt="Email_verification" src="https://cloudinary-res.cloudinary.com/image/upload/v1591262592/mail/email_verification.svg" />
            </div>
            <div class='Thank-you-for-signin'>
                <p>Thank you for signing up for a Cloudinary account</p>
                <d></d>
            </div>
            <div class='Please-verify-your-e div'>
                <br>
                <p>Please verify your email address in order to access your Cloudinary account.</p>
                We sent an email to
                <span class='current-email'>mepowenli@gmail.com</span>
                <p>To continue, please check your inbox and verify your email address.</p>
                <div class='resent_email_message'>
                    <span>Didn’t receive the email?</span>
                    <a href="#" class="Resend-email">Resend email</a>
                </div>
            </div>
        </div>
        <script>
            var buttonClick = function() {
                $.post("/console/resend_verification_email", function() {
                    $('.resent_email_message').text("Email resent. Please check your inbox.");
                });
            };
            $(function() {
                $('.Resend-email').click(buttonClick);
            });
        </script>
    </div>
</section>