/* body {
    background-color: #dfe6ec;
} */

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    text-align: justify
}

.delete-form {
    display: inline;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.no-show {
    display: none;
}

.worning-flash {
    color: red;
}

.btn-orange {
    color: #212529;
    background-color: #ffb038;
    border-color: #ffb038;
}