<%-include ("../partials/header")  -%>
<!-- updated syntax in ejs v3.0.1 -->
<div class="row mt-4">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mt-2">登入</h1>
            <%-include ("../partials/messages")  -%>
            <hr>
            <p class="lead ">
                有臉書帳號嗎？
            </p>
            <a href="/auth/facebook" class="btn btn-lg btn-primary mb-4"><span class="fa fa-facebook"></span> &nbsp;
                使用Facebook登入</a>

            <p class="lead ">
                使用帳號密碼登入
            </p>
            <div class="card card-body">
                <form id="form" action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">電子信箱</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="請輸入電子信箱" value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password">密碼</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" />
                    </div>
                    <p class="worning-flash" id="flash"></p>
                    <button id="btn" type="submit" disabled="disabled" class="btn btn-primary btn-block mt-4">
                        <span id="login"> 登入</span>
                        <img id="loading" style="display:none" src="../public/images/Spinner-1s-200px.svg" height="30px" width="30px">

                    </button>
                    <br>
                    <a href="/users/recover">忘記密碼？</a>
                    <h6 class="text-right"><small><a href="/privacy" target="_blank">查看隱私權條款</a></small>
                    </h6>

                </form>
            </div>


            <hr>



            <p class="lead mt-4">
                沒有帳號嗎？ <a href="/users/register">註冊</a>
            </p>
        </div>
    </div>
</div>


<script>
    const btn = document.querySelector("#btn");
    const flash = document.querySelector("#flash");
    const loading = document.querySelector("#loading");
    const login = document.querySelector("#login");
    const form = document.getElementById('form');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    btn.addEventListener('click', () => {
        btn.classList.add("disabled");
        loading.style.display = "inline-block";
        login.textContent = "登入中，請稍後...";
    })

    form.addEventListener('focusout', () => {
        if (!email.value) {
            flash.innerText = "信箱欄不可為空";
            btn.setAttribute('disabled', 'disabled')
        } else if (!password.value) {
            flash.innerText = "密碼欄不可為空";
            btn.setAttribute('disabled', 'disabled')
        } else {
            flash.innerText = "";
            btn.removeAttribute('disabled')
        }
    });
</script>


<%-include ("../partials/footer") -%>
<!-- updated syntax in ejs v3.0.1 -->